footer {
  position: relative;

  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.75),
    rgba(10, 10, 10, 0.95)
  );

  color: #fff;
  text-align: center;

  padding: 40px 20px;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(12px);

  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.5);
}

footer p {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
  letter-spacing: 1px;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    cyan,
    transparent
  );

  opacity: 0.6;
}