.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);

  position: fixed;
  top: 15px;
  left: 50%;

  transform: translateX(-50%);

  width: 92%;
  max-width: 1200px;

  border-radius: 22px;

  box-sizing: border-box;

  z-index: 1000;

  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
}

/* LOGO */
.navbar h2 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

/* MENU */
.navbar ul {
  display: flex;
  align-items: center;

  gap: 30px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;

  color: white;
  font-size: 16px;
  font-weight: 500;

  position: relative;

  transition: 0.3s ease;
}

/* Hover line */
.navbar ul li a::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0%;
  height: 2px;

  background: #3b82f6;

  transition: 0.3s ease;
}

.navbar ul li a:hover {
  color: #60a5fa;
}

.navbar ul li a:hover::after {
  width: 100%;
}

/* MOBILE */
@media (max-width: 768px) {

  .navbar {
    padding: 15px 20px;

    width: 94%;
  }

  .navbar ul {
    gap: 15px;
  }

  .navbar ul li a {
    font-size: 14px;
  }

  .navbar h2 {
    font-size: 20px;
  }

}


/* LOGO LAA Dizayn */
.logo {
  font-size: 20px;
  font-weight: 700;

  color: white;

  letter-spacing: 2px;

  cursor: pointer;

  transition: 0.3s ease;
}


.logo:hover {
  color: #60a5fa;

  transform: scale(1.05);
}
